/************************
GENERAL
*************************/
body{
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a{
  text-decoration:none;
}

img{
  max-width: 100%;
}

h3{
  margin: 0 0 1em 0;
}

/**************************
HEADING
**************************/

header{
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo{
  text-align: center;
  margin:0;
}

h1{
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/************************
NAVIGATION
************************/
nav{
 text-align: center;
  padding: 18px 0;
  margin: 28px 0 0;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

nav li{
  display:inline-block;
}

nav a{
  font-weight: 800;
  padding: 15px 10px;
}

/************************
FOOTER
************************/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

.social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/**************************
PAGE: HOME
**************************/

.main-page img{
  max-width: 50%;
  border-radius: 100%;
  display: block;
  margin: auto;
}
.main-page p{
  text-align: center;
}
.main-page p.name{
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-page p.skills{
  font-size: 1.25em;
}

.main-page hr.star-light{
    padding: 0;
    border: none;
    border-top: solid 8px;
    text-align: center;
    max-width: 90%;
    margin: 25px auto 30px;
}

.main-page hr.star-light:after {
    background-color: #fff;
    color: #733400;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.9em;
    font-size: 2em;
    padding: 0.25em;
}

/**************************
PAGE: ABOUT
**************************/

.profile-photo{
  display: block;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 100%;
}


/**************************
PAGE: CONTACT
**************************/

.contact-info{
  list-style: none;
  padding: 0;
  margin:0;
  font-size: 0.9em;
}
.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a{
  background-image: url('../img/phone.png');
}

.contact-info li.mail a{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}


/************************
COLORS
************************/
body{
  background-color: white;
  color: #999;
}

header{
  background: #F07918;
  border-color: #BF5600;
}

nav{
  background: #BF5600; 
}

h1, h2{
  color: #fff;
}

a{
  color: #ffb051;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover{
  color: #733400;
}
footer{
  color: #999;
}


/************************
RESPONSIVE TO HIGHER WIDTHS
*************************/

@media screen and (min-width: 481px){
  
  /************************
  TWO COLUMN LAYOUT
  *************************/
  .primary{
    width: 50%;
    float: left;
  }
  
  .secondary{
     width: 40%;
     float: right;
  }
  
  
  /************************
  PAGE: HOME
  *************************/

  .main-page .secondary{
    margin-top: 60px;
  }

  .main-page p.skills{
    font-size: 1.25em;
  }
  
  /************************
  PAGE: ABOUT
  *************************/
  
  .profile-photo{
    max-width: 200px;
    float: left;
    margin:0 5% 80px 0;
  }
}

@media screen and (min-width: 769px){
  /************************
  HEADER
  *************************/
  
  nav{
    background:none;
    float: right;
    margin-right: 5%;
    text-align:right;
    width: 45%;
  }
  
  #logo{
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1{
    font-size: 2.5em;
  }
  
  header{
    border-bottom: 5px solid #BF5600;
    margin-bottom: 60px;
  }

 /************************
  PAGE: HOME
  *************************/

  .main-page p.name{
    font-size: 3em;
  }

  .main-page .secondary{
    margin-top: 100px;
  }

  .main-page p.skills{
  font-size: 1.5em;
  }
}